.container{
    margin-left: 00px;
}
.page__container{
}
.page{
    background-color: $mainBackground;
    color: white;
}
.offer-block{
    position: relative;
    width: 100%;
    background-image: url(/img/1_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 600;
    color: white;
    &::before {
        content: "";
        background-color: rgba(29, 47, 48, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .offer__container{
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .offer__title{
        z-index: 2;
        max-width: 550px;
        font-size: 40px;
    }
    .offer__text{
        z-index: 2;
        max-width: 500px;
    }
    .shade{
        position: absolute;
        width: 100%;
        height: 82.4%;
    }
    .offer__wrapper-href {
        z-index: 2;
    }
    .offer__href{
        z-index: 2;
        display: inline-flex;
        gap: 10px;
        color: $buttonSpanColor;
        font-weight: 600;
    }
}
.slide{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    max-width: 98%;
}
.slide2{

}
.slide__cont{
}
.noned{
    display: none !important;
}
.pagination{
}
.cards{
    padding: 50px 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.cards__item{
    display: flex;
    border: 1px #0B1919 solid;
    width: 255px !important;
    margin-right: 20px;
    width: 255px;
}
.cards__item:nth-child(1){
    margin-right: 20px;
    margin-left:10px;
}
.card{
    min-height: 400px !important;
    display: flex;
    flex-direction: column;
}
.card-img-cont{
    background-color: #0B1919;
    padding: 10px 20px;
}
.card-cont{
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.card-title{
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}
.card-desc{
    margin-top: 20px;
    max-width: 255px;
}
.card-btn{
    height: 40px;
    margin-top: 20px;
    align-items: center;
    width: 145px;
    background-color: transparent;
    border: $buttonSpanColor 1px solid;
    color: $buttonSpanColor;
    align-items: center;
    margin-top: auto;
}
.card{
    display: flex;
}
.btn::after{
    font-size: 30px;
    display: none;
}
.btn{
    display: flex;
    color: white !important;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    font-size: 10px;
    margin-top: 215px !important;
}
.main-navi{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}
.slide2{
    display: none;
}
@media screen and (max-width: 576px) {
    .btn{
    }
}
@media screen and (min-width: 426px) {
    .slide2{
        display: none;
    }
}
.material{
    color: white;
}
.noned{
    display: none;
}
.img-cont{
    margin-top: 40px;
    padding: 30px 30px;
    display: flex;
    width: 78%;
    align-items: start;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #0B1919;
}
.new-title{
    padding-top: 60px;
    font-size: 40px;
    font-weight: 600;
}
.b{
    .img0{
        height: 130px;
    }
    .img1{
        height: 230px;
    }
}
.b1{
    display: flex;
    align-items: end;
}
.b2{
    display: flex;
    align-items: start;
}
.b3{
    .img0{
    }
    display: flex;
    align-items: start;
}
.main-block{
    display: flex;
    gap: 20px;
}
.text-block{
    width: 200px;
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    background-color: $buttonSpanColor;
    color: black;
    padding: 20px;
    display: flex;
}
.mater{
    color: #000000;
    font-size: 30px !important;
}
.text-href{
    display: flex;
    align-items: center;
}
.b6{
    display: flex;
    align-items: start;
}
.text-href{
    font-weight: 800;
}
.text-text{
    color: $color;
}
.text-title{
    font-size: 20px;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .b{
        .img0{
            height: 100px;
        }
        .img1{
            height: 170px;
        }
    }
}
@media screen and (max-width: 576px) {
    .img-cont{
        overflow: auto;
        flex-wrap: nowrap;
        width: 100%;
    }
    .main-block{
        flex-direction: column;
    }
    .b{
        .img0{
            height: 150px;
        }
        .img1{
            height: 180px;
        }
    }
    .text-block{
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .new-title{
        font-size: 30px;
    }
}
.help-block{
    margin-top: 50px;
    position: relative;
    width: 100%;
    background-image: url(/img/1_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 600;
    color: white;
    &::before {
        content: "";
        background-color: rgba(29, 47, 48, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .help__container{
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .help__title{
        z-index: 2;
        max-width: 550px;
        font-size: 40px;
    }
    .help__text{
        z-index: 2;
        max-width: 800px;
        font-weight: 500;
    }
    .help__wrapper-href {
        z-index: 2;
    }
    .help__href{
        z-index: 2;
        display: inline-flex;
        gap: 10px;
        color: black;
        background-color: $buttonSpanColor;
        border: none;
        padding: 11px 26px;
        font-weight: 600;
    }
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 20px;
    margin-top: 20px;
}
input{
    z-index: 1;
    padding: 5px 20px;
    border: none;
}
input:invalid {
    border-radius: 2px;
    color: red;
    border: 2px solid red;
}
input:valid {
}
.validated-message{
    z-index: 1;
    position: absolute;
    margin-top: 30px;
    font-weight: 500;
    color: red;
    font-size: 11px;
    display: none;
    transition: all 1s ease;
}
.validated-message-name{
    z-index: 1;
    position: absolute;
    margin-top: -17px;
    font-weight: 500;
    color: red;
    font-size: 11px;
    display: none;
    transition: all 1s ease;
}
.validated-message2{
    z-index: 1;
    position: absolute;
    margin-top: 30px;
    font-weight: 500;
    color: red;
    font-size: 11px;
    display: none;
    transition: all 1s ease;
}