.footer{
    display: block;
}
.footer__up{
    background-color: #0B1919;
    height: 50px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 30px;
    }
}
.footer__down{
    background-color: $mainBackground;
    color: $colorAfter;
    padding: 6px 0;
    display: flex;
    justify-content: center;
}